.projects__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .projects__box {
    min-height: 254px;
    max-width: 300px;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .projects__box {
    max-width: 450px;
    min-height: 272px;
    gap: 20px;
  }
}
