.work__title {
  width: 377px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333;
  margin: 0;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .work__title {
    width: 231px;
    font-size: 18px;
    max-width: 320px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .work__title {
    width: 256px;
    font-size: 26px;
  }
}
