.work__heading {
  width: 703px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333;
  margin: 0;
  margin-bottom: 50px;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .work__heading {
    width: 300px;
    font-size: 26px;
    margin-bottom: 24px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .work__heading {
    width: 423px;
    font-size: 36px;
    margin-bottom: 32px;
    margin-left: 25px;
  }
}
