.projects__button {
  width: 204px;
  height: 48px;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #0c4ba0;
  background: transparent;
  border: 1px solid #0c4ba0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 50px;
}

.projects__button:hover {
  border: 1px solid #00275c;
  color: #00275c;
}

@media screen and (max-width: 767px) {
  .projects__button {
    width: 300px;
    height: 44px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .projects__button {
    width: 200px;
    height: 44px;
    font-size: 16px;
  }
}
