.work__box {
  width: 100%;
  min-height: 428px;
  background-color: #fff;
  border-radius: 30px;
  display: grid;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .work__box {
    min-height: 293px;
    max-width: 300px;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .work__box {
    max-width: 450px;
    min-height: 272px;
    gap: 20px;
  }
}
