.orientation__button {
  width: 165px;
  height: 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  background: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease-in-out;
  margin-bottom: 30px;
  margin-left: 30px;
}

.orientation__button:hover {
  color: #0C4BA0;
}

@media screen and (max-width: 767px) {
  .orientation__button {
    max-width: 128px;
    height: 44px;
    font-size: 14px;
    margin-bottom: 24px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .orientation__button {
    width: 139px;
    height: 44px;
    font-size: 16px;
  }
}
